* {
    box-sizing: content-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background: #0a0b0d;
    height: 100%;
    min-width: 900px;
}

footer {
    display: flex;
    height: 45px;
    line-height: 45px;
    background-color: #e67817;
    justify-content: center;
    flex: 0 0 auto;
    color: white;
    font-size: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-space {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;

    transform: translateX(0%);
    transition: 1.2s;
}

.left-menu-wrap {
    flex: 0 0 20%;
    justify-content: center;
    padding: 10px 5px 15px;
}

.table-wrap {
    flex: 0 0 80%;
    justify-content: center;
}

.left-menu {
    background: #000000;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 20px;
    height: 580px;
}

.main-space.active {
    transform: translateX(-240px);
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-gap: 0px;
    transition: background 0.3s;
}

.row:hover {
    background: #353e45;
}

.cell-div-header,
.cell-div-header-name {
    color: #e87816;
}

.row-header {
    border-bottom: 1px solid white;
}

.cell-div {
    color: white;
}

.cell-div,
.cell-div-header,
.cell-div-name,
.cell-div-header-name {
    margin: 20px 0;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
}

.cell-div-name {
    color: white;
    font-weight: bold;
    border-right: 1px solid white;
}

.cell-div-header-name {
    font-weight: bold;
    border-right: 1px solid #e87816;
}

.main-header {
    display: flex;
    height: 10px;
    padding: 10px 15px;
    align-items: center;
    background: black;
    justify-content: space-between;
}

.logo-size {
    width: 50px;
    height: 50px;
}

.burger-wrap,
.logo-wrap,
.user-wrap {
    flex: 1 1 1 33.333%;
}

.user-wrap {
    text-align: right;
}

.right-menu {
    background: black;
    width: 230px;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 30px;
    transform: translateX(100%);
    transition: 1.2s;
    margin-left: 100%;
    height: 580px;
}

.right-menu.active {
    transform: translateX(-100%);
}

input[type=search] {
    margin-top: 70px;
    width: 180px;
    height: 23px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid orange;
    background: #221203;
    color: white;
    box-sizing: content-box;
    font-size: 70%;
}

.check {
    margin-top: 20px;
    padding: 5px;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid orange;
    display: grid;
    grid-template-columns: 40px 47px 40px 40px;
    grid-gap: 2px;
    background-color: #0d0d0d;
}

.checkbox {
    line-height: 25px;
    border-radius: 5px;
    padding: 10px;
    font-size: 70%;
    color: white;
}

label {
    font-size: 15px;
    display: block;
    width: 2em;
    height: 2em;
    background: #2e1e11;
    position: relative;
}

label:before {
    content: '';
    width: 2em;
    height: 1em;
    border: 3px solid transparent;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);

    position: absolute;
    left: 0.18em;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label:before {
    border-color: white;
}

input[type=date] {
    margin-top: 20px;
    width: 180px;
    height: 23px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid orange;
    background: #221203;
    color: white;
    box-sizing: content-box;
}

input[type=text] {
    margin-top: 10px;
    width: 180px;
    height: 23px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid orange;
    background: #221203;
    color: white;
    box-sizing: content-box;
}

.select {
    margin-top: 20px;
    width: 180px;
    height: 23px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid orange;
    background: #221203;
    color: white;
    box-sizing: content-box;
}

input[type=button] {
    margin-top: 20px;
    width: 180px;
    height: 23px;
    padding: 10px;
    border: none;
    background: #e67817;
    color: white;
    box-sizing: content-box;
}
input[type=submit] {
    margin-top: 20px;
    width: 180px;
    height: 23px;
    padding: 10px;
    border: none;
    background: #e67817;
    color: white;
    box-sizing: content-box;
}
* {
    box-sizing: content-box;
}

.trash {
    position: relative;
    display: inline-block;
    margin: 0.4em 0 0.1em;
    margin-left: 10px;
    margin-top: 20px;
    height: 1.3em;
    width: 1em;
    font-size: 20px;
    background: #444;
    border-radius: 0 0 0.2em 0.2em;
}

.trash:before {
    content: '';
    display: block;
    position: absolute;
    background: inherit;
    height: 0.15em;
    right: -0.1em;
    left: -0.1em;
    top: -0.2em;
}

.trash:after {
    content: '';
    position: absolute;
    left: 25%;
    top: -0.25em;
    display: block;
    width: 50%;
    height: 0.1em;
    background: inherit;
    border-radius: 20px;
}

.menu-toggle:before {
    content: "≡";
    font: 1em "arial";
}